.about {
  height: 100vh;
}
/* .about_list {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, auto));
  gap: 28px;
  margin-bottom: 30px;
  color: var( --color-text);
} */

.about_text{
  margin-bottom: 30px;
}
.about_container{
  display: grid;
  grid-template-columns: minmax(280px, 350px) 1fr;
  gap: 20px;
  color: var( --color-text);
}
.about_list{
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, auto));
  gap: 40px;
  margin: 40px 0;
}
.about_list > li{
  color: var(--color-text);
}
.about_list li span{
  color: var(--color-text);
  font-weight: var(--bold-title);
}
.about_list li a{
  color: var(--color-text);
}
.about_list i{
  color: var(--color-text);
  margin-right: 10px;
  color: var( --color-detail-blue);
}
.skills {
  height: 100vh;
  background-color: rgb(205, 15, 234);
}
.curriculum {
  height: 100vh;
}
.portifolio {
  height: 100vh;
  background-color: lightskyblue;
}
.contact {
  height: 100vh;
  background-color: seagreen;
}
