.header_content {
  height: 100vh;
  width: 300px;
  scroll-snap-type: both mandatory;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-header-background);
}
.header_container_image {
  margin: 20px 0 10px 0;
}
.header_image {
  border-radius: 50%;
  border: 8px solid var(--color-border-photo-header);
  object-fit: cover;
  width: 180px;
  margin: 0 auto;
}
.header_titulo {
  font-size: 1.563rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-header-font-primary);
}
.header_redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header_redes li > a {
  font-size: 20px;
  border: 18px solid var(--color-border-photo-header);
  border-radius: 50px;
  color: aliceblue;
  background-color: var(--color-border-photo-header);
  text-align: center;
}
.header_redes li > a:hover {
  border: 18px solid var(--color-detail-blue);
  border-radius: 50%;
  transition: 0.5s;
}
.header_menu_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 0 40px 40px;
}
.header_menu_content a {
  width: 100% !important;
  padding: 10px 0;
}
.header_menu_content li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-text-nav);
}
.header_menu_content i + a {
  font-size: 1rem;
  color: var(--color-text-nav);
}
.header_menu_content li:hover{
  color: var(--color-detail-blue);
  transition: 0.5s;
}
.header_menu_content i + a:hover{
  color: var(--color-header-font-primary);
  transition: 0.5s;
}
.header_menu_content li > i{
  font-size: 1.125em;
}