html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background-light);
}
main {
  margin-left: 300px;
}
.interface {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.edit {
  /* display: flex; */
  /* position: sticky;
  top: 0;
  left: 0; */
  height: 100vh;
  scroll-snap-align: start;
  margin: 0 40px;
  padding-top: 30px;
  max-width: 1440px;
}
.home {
  height: 100vh;
  background-image: url("../image/Sky.png");
  background-repeat: no-repeat;
  background-size: cover;
}
