#header {
  background-color: var(--color-header-background);
  height: 100vh;
  width: 20%;
}
.header__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 2em 0;
}
.header__perfil__image {
  width: 150px;
  border: 8px solid var(--color-border-photo-header);
  border-radius: 60%;
  display: inline-block;
}
.perfil__image {
  border-radius: 60%;
}
.header__perfil__nome {
  font-size: 1.6em;
  color: var(--color-header-font-primary);
  font-weight: 700;
}
.header__perfil__redes-sociais {
  display: flex;
  width: 80%;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.header__perfil__ico__style {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-border-photo-header);
}
.header__perfil__ico {
  font-size: 20px;
  color: var(--color-header-font-primary);
}
